.app-container {
  min-height: 100vh;
  padding: 40px 20px;
  text-align: center;
  font-family: Arial, sans-serif;
  background-image: url('./assets/sky.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  position: relative;
}

h1 {
  color: white;
  margin-bottom: 20px;
  font-size: 28px;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.3);
}

form {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 20px;
}

input {
  padding: 10px 12px;
  width: 240px;
  font-size: 15px;
  border: 1px solid black;
  border-radius: 6px;
  background-color: rgba(173, 216, 230, 0.5);
  color: black;

}

button {
  padding: 10px 15px;
  font-size: 15px;
  background: navy;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
}

button:hover {
  background: #15527f;
}

html, body, #root {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

.weather-box {
  margin: 20px auto;
  padding: 20px;
  width: 280px;
  border-radius: 12px;
  border: 2px solid black;
  background-image: url('./assets/bg.jpeg');
  background-size: cover;
  background-position: center;
  background-repeat: repeat;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.1);
}

.weather-box img {
  width: 100px;
}

.weather-box h2 {
  margin: 10px 0;
  color: white;
}

.weather-box p {
  margin: 5px 0;
  color: white;
  text-transform: capitalize;
}

.weather-box h3 {
  margin: 10px 0;
  font-size: 26px;
  color: white;
  text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black;
}